div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/ai") Artificial Intelligence
	p
		a(href="/theory/ai.pdf") Download PDF
	h3
		b Decision theory under certainty
	p
		a(href="/theory/ai/accentuators") States and accentuators
	p
		a(href="/theory/ai/discrete") Discrete choice
	p
		a(href="/theory/ai/singleAgent") Continuous choice
	h3
		b Intertemporal decision theory under certainty
	p
		a(href="/theory/ai/environmentDeterministic") States and deterministic environments
	p
		a(href="/theory/ai/intertemporal") Intertemporal decision making
	p
		a(href="/theory/ai/robotics") Planning
	h3
		b Decision theory under known uncertainty
	p
		a(href="/theory/ai/uncertainty") Lotteries and risk aversion
	p
		a(href="/theory/ai/MDP") Fully observable Markov Decision Processes (MDP)
	h3
		b Decision theory under unknown uncertainty
	p
		a(href="/theory/ai/uncertaintyUnknown") Decision making with unknown uncertainty
	p
		a(href="/theory/ai/POMDP") Sensors and Partially Observable Markov Decision Processes (POMDP)
	p
		a(href="/theory/ai/reinforcement") Reinforcement learning
	p
		a(href="/theory/ai/control") Control theory
	p
		a(href="/theory/ai/activeLearning") Active learning
	h3
		b Game theory under certainty
	p
		a(href="/theory/ai/gameTheory") Simultaneous games
	p
		a(href="/theory/ai/sequential") Sequential games
	p
		a(href="/theory/ai/gameTheoryDeep") Deep sequential games
	p
		a(href="/theory/ai/repeated") Repeated episodic games
	h3
		b Game theory under uncertainty
	p
		a(href="/theory/ai/gameImperfect") Games with imperfect or incomplete information
	p
		a(href="/theory/ai/gameStochastic") Stochastic games
	h3
		b Multi-agent systems

