div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/biology") Biology
	p
		a(href="/theory/biology.pdf") Download PDF
	h3
		b DNA
	p
		a(href="/theory/biology/protein") Proteins
	p
		a(href="/theory/biology/DNA") DNA
	h3
		b Cells
	p
		a(href="/theory/biology/abiogenesis") Abiogenesis
	p
		a(href="/theory/biology/singleCell") Single-celled organisms
	p
		a(href="/theory/biology/evolution") Evolution
	p
		a(href="/theory/biology/multiCell") Multicellular organisms
	h3
		b Neuroscience
	p
		a(href="/theory/biology/neuroscience") Neuroscience
	h3
		b Immune systems
	p
		a(href="/theory/biology/virus") Viruses
	p
		a(href="/theory/biology/infectionBacterial") Bacterial infections
	p
		a(href="/theory/biology/parasites") Parasites
	p
		a(href="/theory/biology/infectionFungal") Fungal infections
	p
		a(href="/theory/biology/prion") Prions
	p
		a(href="/theory/biology/whiteBlood") White blood cells
	h3
		b Compartmental epidemiological models
	p
		a(href="/theory/biology/SIR") Susceptible, Infectious, or Recovered models (SIR)
	p
		a(href="/theory/biology/SIRVariations") Variations on SIR models
	p
		a(href="/theory/biology/SIREstimating") Estimating SIR models
	p
		a(href="/theory/biology/SIRStochastic") Stochastic SIR models
	p
		a(href="/theory/biology/SIRBehavioral") Behavioural SIR models

