div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/computer") Computer science
	p
		a(href="/theory/computer.pdf") Download PDF
	h3
		b Foundations
	p
		a(href="/theory/computer/logic") Combinational logic
	p
		a(href="/theory/computer/numbers") Representing and using integers and real numbers
	p
		a(href="/theory/computer/automatons") Finite-state machines, pushdown automatons and Turing machines
	p
		a(href="/theory/computer/machineCode") Machine code
	h3
		b Low-level programming
	p
		a(href="/theory/computer/assembly") Assembly and high-level programming lanaguges
	h3
		b Data structures
	p
		a(href="/theory/computer/lists") Lists
	p
		a(href="/theory/computer/strings") Characters and strings
	p
		a(href="/theory/computer/objects") Objects
	p
		a(href="/theory/computer/databases") Databases
	p
		a(href="/theory/computer/queues") Queues
	p
		a(href="/theory/computer/pointers") Pointers
	h3
		b High-level programming
	p
		a(href="/theory/computer/functional") Imperative and functional programming
	p
		a(href="/theory/computer/OOP") Object-Oriented Programming
	p
		a(href="/theory/computer/emulation") Emulation
	h3
		b Algorithms
	p
		a(href="/theory/computer/algorithms") Algorithms
	p
		a(href="/theory/computer/complexity") Algorithmic complexity
	h3
		b Algorithmic paradigms
	p
		a(href="/theory/computer/dynamic") Techniques in algorthims
	p
		a(href="/theory/computer/parallel") Parallel processing
	p
		a(href="/theory/computer/divideConquer") Divide and conquer algorithms
	p
		a(href="/theory/computer/greedy") Greedy algorithms
	h3
		b Elementary algorithms
	p
		a(href="/theory/computer/sorting") Sorting and searching lists
	p
		a(href="/theory/computer/nodes") Tree search
	p
		a(href="/theory/computer/treeHeuristic") Tree search with heuristics
	p
		a(href="/theory/computer/CSP") Constraint Satisfaction Problem (CSP)
	h3
		b Numerical methods
	p
		a(href="/theory/computer/roots") Floating point maths
	p
		a(href="/theory/computer/discrete") Discrete maths
	p
		a(href="/theory/computer/linear") Linear algebra
	p
		a(href="/theory/computer/compression") Lossless compression
	h3
		b Optimisation
	p
		a(href="/theory/computer/optimisation") Unconstrained optimisation
	p
		a(href="/theory/computer/constrained") Constrained optimisation
	h3
		b Improving knowledge
	p
		a(href="/theory/computer/knowledge") Knowledge bases
	p
		a(href="/theory/computer/expert") Expert systems
	h3
		b Applications
	p
		a(href="/theory/computer/image") Image manipulation
	p
		a(href="/theory/computer/3D") 3D modelling

