extends ../templates/loginHeader.jade
block content
	div.container-fluid
		div.row
			nav.col-md-2.d-none.d-md-block.bg-light.sidebar
				div.sidebar-sticky
					br
					include ./computer_sidebar.jade
			main.col-md-9.ml-sm-auto.col-lg-10.px-4(role="main")
				br
				p Please select a chapter from the left.
				include ./computer/preface.html
