div
	h1
		b 
			a(href="/theory/computer") Computer science
	p
		a(href="/theory/computer.pdf") Download PDF
	h3
		b Foundations
	p
		a(href="/theory/computer/logic") Registers and instructions
	p
		a(href="/theory/computer/machineCode") Machine code
	p
		a(href="/theory/computer/numbers") Representing and using integers and real numbers
	p
		a(href="/theory/computer/automatons") Automatons
	h3
		b Programming
	p
		a(href="/theory/computer/memory") Memory
	p
		a(href="/theory/computer/assembly") Assembly and high-level programming lanaguges
	p
		a(href="/theory/computer/emulation") Emulation
	h3
		b Data structures
	p
		a(href="/theory/computer/lists") Lists
	p
		a(href="/theory/computer/strings") Characteristics and strings
	p
		a(href="/theory/computer/objects") Objects
	p
		a(href="/theory/computer/databases") Databases
	h3
		b Algorithms
	p
		a(href="/theory/computer/algorithms") Algorithms
	p
		a(href="/theory/computer/dynamic") Techniques in algorthims
	h3
		b Elementary algorithms
	p
		a(href="/theory/computer/sorting") Sorting and searching lists
	p
		a(href="/theory/computer/nodes") Tree search
	h3
		b Numerical methods
	p
		a(href="/theory/computer/roots") Floating point maths
	p
		a(href="/theory/computer/discrete") Discrete maths
	p
		a(href="/theory/computer/linear") Linear algebra
	p
		a(href="/theory/computer/optimisation") Unconstrained optimisation
	p
		a(href="/theory/computer/constrained") Constrained optimisation
	p
		a(href="/theory/computer/compression") Compression
	p
		a(href="/theory/computer/hashes") Hashes
	p
		a(href="/theory/computer/encryption") Encryption
	h3
		b Notes on specific languages	
	p
		a(href="/theory/computer/c") C++
	p
		a(href="/theory/computer/python") Python
	p
		a(href="/theory/computer/stata") Stata
	p
		a(href="/theory/computer/r") R
	p
		a(href="/theory/computer/javascript") Javascript
	p
		a(href="/theory/computer/sql") SQL
	h3
		b Applications
	p
		a(href="/theory/computer/image") Image manipulation
	p
		a(href="/theory/computer/signal") Signal processing
	p
		a(href="/theory/computer/3D") 3D modelling

