div
	h1
		b 
			a(href="/theory/economics") Economics
	p
		a(href="/theory/economics.pdf") Download PDF
	h3
		b Economics of a single agent
	p
		a(href="/theory/economics/basicConsumer") Basic consumer and producer theory
	h3
		b Exchange economies
	p
		a(href="/theory/economics/auctions") Auction theory
	p
		a(href="/theory/economics/commodities") Commodity markets
	p
		a(href="/theory/economics/money") Money
	p
		a(href="/theory/economics/consumer") Consumer theory under prices
	h3
		b Finance
	p
		a(href="/theory/economics/contract") Contract theory
	p
		a(href="/theory/economics/saving") Debt
	p
		a(href="/theory/economics/securities") Derivative markets
	p
		a(href="/theory/economics/banking") Banking
	h3
		b Producer theory
	p
		a(href="/theory/economics/robinsonCrusoe") The Robinson Crusoe model
	p
		a(href="/theory/economics/producer") Production of a single good
	p
		a(href="/theory/economics/intermediate") Intermediate goods
	p
		a(href="/theory/economics/diff") Production of differentiated goods
	p
		a(href="/theory/economics/corporateFinance") Corporate finance and governance
	p
		a(href="/theory/economics/IO") Industrial organisation
	p
		a(href="/theory/economics/general") General equilibrium
	p
		a(href="/theory/economics/econometrics") Econometrics
	h3
		b Industries
	p
		a(href="/theory/economics/industryInstitution") Institutional services
	p
		a(href="/theory/economics/industryFood") Food
	p
		a(href="/theory/economics/industryUtilities") Utilities
	h3
		b International economics
	p
		a(href="/theory/economics/international") International economics
	h3
		b Labour economics
	p
		a(href="/theory/economics/unemployment") Labour markets and unemployment
	p
		a(href="/theory/economics/education") Education
	p
		a(href="/theory/economics/immigration") Immigration
	h3
		b Public choice
	p
		a(href="/theory/economics/institutions") Institutions
	p
		a(href="/theory/economics/tax") Taxes
	p
		a(href="/theory/economics/externality") Externalities
	p
		a(href="/theory/economics/publicGoods") Public goods
	p
		a(href="/theory/economics/monetaryFiscal") Monetary and fiscal policy
	p
		a(href="/theory/economics/welfare") Welfare economics
	p
		a(href="/theory/economics/competitionPolicy") Competition policy
	p
		a(href="/theory/economics/regulation") Regulation
	h3
		b Macroeconomics
	p
		a(href="/theory/economics/neoClassical") Neoclassical economics
	p
		a(href="/theory/economics/neoKeynesian") Neo-Keynesian economics and the neoclassical synthesis
	p
		a(href="/theory/economics/newClassical") New classical economics
	p
		a(href="/theory/economics/newKeynesian") New Keynesian economics and the new neoclassical synthesis

