div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/engineering") Engineering
	p
		a(href="/theory/engineering.pdf") Download PDF
	h3
		b Economics of a single agent
	p
		a(href="/theory/engineering/engineeringElectrical") Electrical engineering

