div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/history") History
	p
		a(href="/theory/history.pdf") Download PDF
	h3
		b Stone age
	p
		a(href="/theory/history/probability") Paleolithic
	p
		a(href="/theory/history/probability") Mesolithic
	p
		a(href="/theory/history/probability") Neolithic
	h3
		b Bronze age
	p
		a(href="/theory/history/probability") Tin trade
	p
		a(href="/theory/history/probability") Ancient Egypt
	p
		a(href="/theory/history/probability") Babylonia
	p
		a(href="/theory/history/probability") Bronze age collapse
	h3
		b Iron age
	h3
		b Ancient Greece
	p
		a(href="/theory/history/probability") Mycenaean Greece
	p
		a(href="/theory/history/probability") Greek Dark Ages
	p
		a(href="/theory/history/probability") Archaic Greece
	p
		a(href="/theory/history/probability") Classical Greece
	p
		a(href="/theory/history/probability") Hellenistic period
	h3
		b Roman Republic
	p
		a(href="/theory/history/probability") Carthage
	h3
		b Roman Empire
	p
		a(href="/theory/history/probability") Early Christianity
	p
		a(href="/theory/history/probability") Jewish-Roman wars
	p
		a(href="/theory/history/probability") Byzantine
	p
		a(href="/theory/history/probability") Fall of Rome
	h3
		b Middle Ages
	p
		a(href="/theory/history/probability") Charlemagne
	p
		a(href="/theory/history/probability") Anglo-Saxon invasion of UK
	p
		a(href="/theory/history/probability") Norman invasion of UK
	h3
		b Early modern
	p
		a(href="/theory/history/probability") English civil wars
	p
		a(href="/theory/history/probability") The Reformation
	h3
		b Late modern
	p
		a(href="/theory/history/probability") French revolution
	p
		a(href="/theory/history/probability") American revolution
	p
		a(href="/theory/history/probability") Industrial revolution
	p
		a(href="/theory/history/probability") Napoleonic wars
	p
		a(href="/theory/history/probability") Franco-Prussian war
	p
		a(href="/theory/history/probability") German unification
	p
		a(href="/theory/history/probability") Italian unification
	p
		a(href="/theory/history/probability") Empires
	p
		a(href="/theory/history/probability") World War One
	p
		a(href="/theory/history/probability") World War Two
	h3
		b Contemporary
	h3
		b Pre-Columbian
	p
		a(href="/theory/history/probability") Incan
	p
		a(href="/theory/history/probability") Aztec
	p
		a(href="/theory/history/probability") Mayan
	h3
		b China



