div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/history") History
	p
		a(href="/theory/history.pdf") Download PDF
	h3
		b Stone age
	p
		a(href="/theory/history/probability") Paleolithic
	p
		a(href="/theory/history/probability") Mesolithic
	p
		a(href="/theory/history/probability") Neolithic
	h3
		b Bronze age
	p
		a(href="/theory/history/probability") Tin trade
	p
		a(href="/theory/history/probability") Ancient Egypt
	p
		a(href="/theory/history/probability") Babylonia
	p
		a(href="/theory/history/probability") Bronze age collapse
	h3
		b Iron age
	h3
		b Ancient Greece
	h3
		b Roman Republic
	p
		a(href="/theory/history/probability") Carthage
	h3
		b Roman Empire
	p
		a(href="/theory/history/probability") Byzantine
	h3
		b Middle Ages
	h3
		b Early modern
	h3
		b Late modern
	h3
		b Contemporary
	h3
		b Pre-Columbian
	p
		a(href="/theory/history/probability") Incan
	p
		a(href="/theory/history/probability") Aztec
	p
		a(href="/theory/history/probability") Mayan
	h3
		b China



