div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/logic") Logic and the natural numbers
	p
		a(href="/theory/logic.pdf") Download PDF
	h3
		b Logic
	p
		a(href="/theory/logic/propositionalLogic") Propositional logic
	p
		a(href="/theory/logic/propositionalLogicInference") Inference in propositional logic
	p
		a(href="/theory/logic/propositionalLogicAxioms") Axioms for propositional logic
	p
		a(href="/theory/logic/preteriteLogic") First-order logic
	p
		a(href="/theory/logic/godelCompleteness") Gödel's completeness theorem and the compactness theorem
	h3
		b Linguistics
	p
		a(href="/theory/logic/linguistics") Linguistics
	h3
		b Arithmetic of natural numbers
	p
		a(href="/theory/logic/robinson") Robinson arithmetic
	p
		a(href="/theory/logic/peano") Peano arithmetic
	p
		a(href="/theory/logic/orderings") Orderings
	p
		a(href="/theory/logic/arithmetic") Subtraction and division
	p
		a(href="/theory/logic/primes") Divisors and prime numbers
	p
		a(href="/theory/logic/modulus") Modulus and remainders
	p
		a(href="/theory/logic/GCD_LCM") GCD and LCM
	p
		a(href="/theory/logic/arithmeticFundamental") The fundamental theorem of arithmetic
	p
		a(href="/theory/logic/sequences") Finite sequences of natural numbers
	p
		a(href="/theory/logic/algebra") Powers, exponents and logarithms of natural numbers
	p
		a(href="/theory/logic/godelNumbering") Gödel numbering
	p
		a(href="/theory/logic/godelIncompleteness") The Gödel incompleteness theorems
	h3
		b General Set Theory (GST)
	p
		a(href="/theory/logic/setsSpecification") Axiom schema of specification
	p
		a(href="/theory/logic/setsBasic") Set algebra
	p
		a(href="/theory/logic/setsExtensionality") The axiom of extensionality
	p
		a(href="/theory/logic/setsAdjunction") Axiom of adjunction
	p
		a(href="/theory/logic/algebraCardinality") Algebra of cardinality
	h3
		b Zermelo–Fraenkel set theory (ZF)
	p
		a(href="/theory/logic/logicSecond") Second-order logic
	p
		a(href="/theory/logic/peanoAxioms") Peano axioms
	p
		a(href="/theory/logic/sets") Zermelo–Fraenkel set theory
	p
		a(href="/theory/logic/setsAxiomUnion") Axiom of union

