div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/philosophy") Philosophy
	p
		a(href="/theory/philosophy.pdf") Download PDF
	h3
		b Spacetime
	p
		a(href="/theory/philosophy/accentuators") States and accentuators

