div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/physics") Physics
	p
		a(href="/theory/physics.pdf") Download PDF
	h3
		b Spacetime
	p
		a(href="/theory/physics/newton") Newtonian mechanics
	p
		a(href="/theory/physics/worldlines") Paths
	p
		a(href="/theory/physics/symmetry") Symmetry
	p
		a(href="/theory/physics/hamiltonian") Hamiltonian
	p
		a(href="/theory/physics/metrics") The Lorentz metric
	p
		a(href="/theory/physics/fields") Fields
	h3
		b Electromagnetism
	p
		a(href="/theory/physics/electromagnetism") Electromagnetism
	h3
		b Statistical mechanics
	p
		a(href="/theory/physics/statisticalMechanics") Statistical mechanics
	h3
		b Quantum mechanics
	p
		a(href="/theory/physics/QM") Quantum mechanics
	p
		a(href="/theory/physics/QFT") Quantum Field Theory (QFT)
	p
		a(href="/theory/physics/hydrogen") The hydrogen atom
	h3
		b Chemistry
	p
		a(href="/theory/physics/atoms") Atoms
	p
		a(href="/theory/physics/ions") Ions
	p
		a(href="/theory/physics/acid") Acid
	p
		a(href="/theory/physics/strongChemical") Strong chemical bonds
	p
		a(href="/theory/physics/intermolecular") Intermolecular bonds
	p
		a(href="/theory/physics/isomers") Isomers
	h3
		b Geology
	p
		a(href="/theory/physics/geology") Geology

