div
	h1
		b 
			a(href="/theory/physics") Physics
	p
		a(href="/theory/physics.pdf") Download PDF
	h3
		b Dynamic systems
	p
		a(href="/theory/physics/continuous") Continuous systems
	h3
		b Spacetime
	p
		a(href="/theory/physics/worldlines") Paths
	p
		a(href="/theory/physics/metrics") Lorentz and Euclidian metrics
	p
		a(href="/theory/physics/fields") Fields
	h3
		b Quantum mechanics
	p
		a(href="/theory/physics/QM") Quantum mechanics
	p
		a(href="/theory/physics/QFT") Quantum Field Theory (QFT)
	h3
		b Electromagnetism
	h3
		b Classical mechanics
	p
		a(href="/theory/physics/newton") Newtonian mechanics
	h3
		b Engineering
	p
		a(href="/theory/physics/engineeringElectrical") Electrical engineering

