doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description", content="Adam Boult's homepage")

		title Adam Boult

		link(rel="stylesheet", href="/packages/bootstrap/css/bootstrap.min.css")

		script(src="/packages/jquery/jquery.min.js")

		script(src="/packages/popper.js/popper.min.js")
		script(src="/packages/bootstrap/js/bootstrap.min.js")

		script#MathJax-script(async src="/packages/mathjax/tex-mml-chtml.js")

	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			a.navbar-brand.abs(href='/') Bou.lt
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarNavAltMarkup
				ul.navbar-nav
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#", id=navbarOther, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Projects
						div.dropdown-menu(aria-labelledby="navbarOther")
							a.dropdown-item(href="https://www.artificialeconomist.com") ArtificialEconomist.com
							a.dropdown-item(href="https://www.economoose.com") Economoose.com
							a.dropdown-item(href="https://www.yetipredict.com") YetiPredict.com
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#", id=navbarDropdown, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Notes
						div.dropdown-menu(aria-labelledby="navbarDropdown")
							a.dropdown-item(href="/theory/logic/") Logic, the natural numbers and computability
							a.dropdown-item(href="/theory/algebra/") Algebra
							a.dropdown-item(href="/theory/analysis/") Mathematical analysis
							a.dropdown-item(href="/theory/geometry/") Geometry
							div.dropdown-divider
							a.dropdown-item(href="/theory/physicsMechanics") Classical mechanics
							a.dropdown-item(href="/theory/computer") Computer science and C
							a.dropdown-item(href="/theory/dataStructuresAlgorithms") Data structures and algorithms, and Lisp
							div.dropdown-divider
							a.dropdown-item(href="/theory/probabilityUnivariate") Univariate probability
							a.dropdown-item(href="/theory/probabilityMultivariate") Multivariate probability
							a.dropdown-item(href="/theory/neuralNetworks") Neural networks
							a.dropdown-item(href="/theory/applied") Computer vision
							div.dropdown-divider
							a.dropdown-item(href="/theory/probabilityTimeSeriesUnivariate") Univariate time series and encryption
							a.dropdown-item(href="/theory/probabilityTimeSeriesMultivariate") Multivariate time series
							a.dropdown-item(href="/theory/appliedAudioText") Statistics for audio and text, and multi-modal models
							div.dropdown-divider
							a.dropdown-item(href="/theory/physics") Physics
							a.dropdown-item(href="/theory/biology") Biology
							a.dropdown-item(href="/theory/engineering") Engineering
							a.dropdown-item(href="/theory/electronics") Electronics
							div.dropdown-divider
							a.dropdown-item(href="/theory/engineeringComputer") CPUs and the Von Neumann architecture
							a.dropdown-item(href="/theory/unix") GNU/Linux
							a.dropdown-item(href="/theory/networks") Networks
							a.dropdown-item(href="/theory/databases") Single-node databases
							a.dropdown-item(href="/theory/audio") Audio
							a.dropdown-item(href="/theory/graphics") 2D graphics
							a.dropdown-item(href="/theory/graphics3D") 3D graphics
							a.dropdown-item(href="/theory/computerArchitecture") Advanced computer architecture
							a.dropdown-item(href="/theory/VMEmulation") System virtual machines and hardware emulation
							div.dropdown-divider
							a.dropdown-item(href="/theory/cpp") C++ and objects
							a.dropdown-item(href="/theory/java") Java, garbage collection, process virtual machines and Kotlin
							a.dropdown-item(href="/theory/otherCLanguages") Other C-family languages: Rust, Go, Objective-C and Swift
							a.dropdown-item(href="/theory/otherLispLanguages") Other Lisp-family languages: Scheme, Racket, Common Lisp, Clojure and Scala
							a.dropdown-item(href="/theory/otherCompiledLanguages") Functional languages: Meta Language (ML) and Haskell
							div.dropdown-divider
							a.dropdown-item(href="/theory/javascript") Javascript
							a.dropdown-item(href="/theory/python") Python
							a.dropdown-item(href="/theory/R") R
							a.dropdown-item(href="/theory/otherLanguages") Other languages: STATA, Lua and BASIC
							div.dropdown-divider
							a.dropdown-item(href="/theory/linuxDistributions") Specific linux distributions
							a.dropdown-item(href="/theory/BSD") FreeBSD and OpenBSD
							a.dropdown-item(href="/theory/nonGNU") Non-GNU Linux including Busybox and Android
							a.dropdown-item(href="/theory/windows") Windows
							a.dropdown-item(href="/theory/apple") Apple
							a.dropdown-item(href="/theory/distributedComputing") Distributed computing
							a.dropdown-item(href="/theory/IDEs") Integrated Development Environments (IDEs)
							a.dropdown-item(href="/theory/reverseEngineering") Reverse engineering
							div.dropdown-divider
							a.dropdown-item(href="/theory/ai") Decision and game theory
							a.dropdown-item(href="/theory/equilibrium") General equilibrium
							a.dropdown-item(href="/theory/IO") Industrial organisation
							a.dropdown-item(href="/theory/MBF") Money, banking and finance
							a.dropdown-item(href="/theory/economics") Microeconomics
							a.dropdown-item(href="/theory/macroeconomics") Macroeconomics
							a.dropdown-item(href="/theory/publicChoice") Public choice
							a.dropdown-item(href="/theory/history") History
							a.dropdown-item(href="/theory/epistemologyOntology") Epistemology and ontology
							a.dropdown-item(href="/theory/philosophy") Political science and philosophy
					//li.nav-item
					//	a.nav-link(href="/news/") Blog
				ul.navbar-nav.ml-auto
					li.nav-item
						a.nav-link(href="https://github.com/adamdboult/") GitHub
					li.nav-item
						a.nav-link(href="https://www.linkedin.com/in/adamdboult") LinkedIn
		block content

