extends ./maths/subTemplate.jade
block subSubContent
	h3
		b Foundations of mathematics
	p
		a(href="/theory/maths/propositionalLogic") Propositional logic
		|  
		a(href="/theory/maths/propositionalLogic.pdf") (pdf)
	p
		a(href="/theory/maths/preteriteLogic") Preterite logic
		|  
		a(href="/theory/maths/preteriteLogic.pdf") (pdf)
	p
		a(href="/theory/maths/sets") Set theory
		|  
		a(href="/theory/maths/sets.pdf") (pdf)
	h3
		b Number theory
	p
		a(href="/theory/maths/arithmetic") Arithmetic
		|  
		a(href="/theory/maths/arithmetic.pdf") (pdf)
	p
		a(href="/theory/maths/sequences") Sequences
		|  
		a(href="/theory/maths/sequences.pdf") (pdf)
	p
		a(href="/theory/maths/algebra") Elementary algebra
		|  
		a(href="/theory/maths/algebra.pdf") (pdf)
	p
		a(href="/theory/maths/primes") Prime numbers
		|  
		a(href="/theory/maths/primes.pdf") (pdf)
	p
		a(href="/theory/maths/reals") Real numbers
		|  
		a(href="/theory/maths/reals.pdf") (pdf)
	p
		a(href="/theory/maths/complex") Complex numbers
		|  
		a(href="/theory/maths/complex.pdf") (pdf)
	h3
		b Abstract algebra
	p
		a(href="/theory/maths/groups") Group theory
		|  
		a(href="/theory/maths/groups.pdf") (pdf)
	p
		a(href="/theory/maths/rings") Rings
		|  
		a(href="/theory/maths/rings.pdf") (pdf)
	p
		a(href="/theory/maths/fields") Fields
		|  
		a(href="/theory/maths/fields.pdf") (pdf)
	h3
		b Univariate real analysis
	p
		a(href="/theory/maths/propertiesFunctions") Real functions
		|  
		a(href="/theory/maths/propertiesFunctions.pdf") (pdf)
	p
		a(href="/theory/maths/calculus") Univariate calculus
		|  
		a(href="/theory/maths/calculus.pdf") (pdf)
	p
		a(href="/theory/maths/trigonometry") Trigonometry
		|  
		a(href="/theory/maths/trigonometry.pdf") (pdf)
	p
		a(href="/theory/maths/transformations") Taylor and Fourier analysis
		|  
		a(href="/theory/maths/transformations.pdf") (pdf)
	p
		a(href="/theory/maths/importantFunctions") Important functions of real numbers
		|  
		a(href="/theory/maths/importantFunctions.pdf") (pdf)
	p
		a(href="/theory/maths/ODE") Ordinary Differential Equations (ODEs)
		|  
		a(href="/theory/maths/ODE.pdf") (pdf)
	h3
		b Linear algebra
	p
		a(href="/theory/maths/linearAlgebra") Vector spaces
		|  
		a(href="/theory/maths/linearAlgebra.pdf") (pdf)
	p
		a(href="/theory/maths/endomorphisms") Linear endomorphisms
		|  
		a(href="/theory/maths/endomorphisms.pdf") (pdf)
	p
		a(href="/theory/maths/forms") Linear forms
		|  
		a(href="/theory/maths/forms.pdf") (pdf)
	p
		a(href="/theory/maths/maps") Linear maps
		|  
		a(href="/theory/maths/maps.pdf") (pdf)
	p
		a(href="/theory/maths/representation") Algebra over a field, and Lie algebra
		|  
		a(href="/theory/maths/representation.pdf") (pdf)
	p
		a(href="/theory/maths/exteriorAlgebra") Exterior algebra
		|  
		a(href="/theory/maths/exteriorAlgebra.pdf") (pdf)
	p
		a(href="/theory/maths/tensors") Tensors
		|  
		a(href="/theory/maths/tensors.pdf") (pdf)
	p
		a(href="/theory/maths/functionalAnalysis") Infinite-dimensional vector spaces
		|  
		a(href="/theory/maths/functionalAnalysis.pdf") (pdf)
	h3
		b Multivariate real analysis
	p
		a(href="/theory/maths/multiCalculus") Multivariate calculus
		|  
		a(href="/theory/maths/multiCalculus.pdf") (pdf)
	p
		a(href="/theory/maths/differentialEquations") Partial Differential Equations (PDEs)
		|  
		a(href="/theory/maths/differentialEquations.pdf") (pdf)
	p
		a(href="/theory/maths/exteriorCalculus") Exterior calculus
		|  
		a(href="/theory/maths/exteriorCalculus.pdf") (pdf)
	p
		a(href="/theory/maths/calculusVariations") Calculus of variations
		|  
		a(href="/theory/maths/calculusVariations.pdf") (pdf)
	p
		a(href="/theory/maths/optimisation") Optimisation
		|  
		a(href="/theory/maths/optimisation.pdf") (pdf)
	h3
		b Complex analysis
	p
		a(href="/theory/maths/complexAnalysis") Complex calculus
		|  
		a(href="/theory/maths/complexAnalysis.pdf") (pdf)
	p
		a(href="/theory/maths/riemann") Riemann surfaces
		|  
		a(href="/theory/maths/riemann.pdf") (pdf)
	h3
		b Topology
	p
		a(href="/theory/maths/metric") Metric space
		|  
		a(href="/theory/maths/metric.pdf") (pdf)
	p
		a(href="/theory/maths/topologyFinite") Topology of finite sets
		|  
		a(href="/theory/maths/topologyFinite.pdf") (pdf)
	p
		a(href="/theory/maths/measures") Measure space
		|  
		a(href="/theory/maths/measures.pdf") (pdf)
	p
		a(href="/theory/maths/manifoldsTopological") Topological manifolds
		|  
		a(href="/theory/maths/manifoldsTopological.pdf") (pdf)
	p
		a(href="/theory/maths/manifoldsDifferentiable") Differentiable manifolds
		|  
		a(href="/theory/maths/manifoldsDifferentiable.pdf") (pdf)
	p
		a(href="/theory/maths/manifoldsRiemann") Riemann manifolds
		|  
		a(href="/theory/maths/manifoldsRiemann.pdf") (pdf)
	p
		a(href="/theory/maths/affineEuclid") Affine and Euclidian geometry
		|  
		a(href="/theory/maths/affineEuclid.pdf") (pdf)
	p
		a(href="/theory/maths/manifoldsEuclid") Euclidian geometry
		|  
		a(href="/theory/maths/manifoldsEuclid.pdf") (pdf)
	p
		a(href="/theory/maths/graph") Graph theory
		|  
		a(href="/theory/maths/graph.pdf") (pdf)

