extends templates/loginHeader.jade

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title Adam Boult
			p.lead This is Adam Boult's personal website
		.row
			.col-sm-4
				a(href="https://www.yetipredict.com")
					h3 YetiPredict
				p Track your own predictions, privately, to check you are on track, and are planning accurately.
			.col-sm-4
				a(href="https://www.artificialeconomist.com")
					h3 Artificial Economist
				p Ask an artificial economist any question.
			.col-sm-4
				a(href="/theory")
					h3 Notes
				p My notes on stuff.
				ul
					li
						a(href="/theory/maths/") Maths

