doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description", content="Adam Boult's homepage")

		title Adam Boult

		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")

		script#MathJax-script(async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")

	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			a.navbar-brand.abs(href='/') Bou.lt
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarNavAltMarkup
				ul.navbar-nav
					//li.nav-item
					//	a.nav-link(href="/theory/maths") Maths
					//li.nav-item
					//	a.nav-link(href="/theory/computer") Computer science
					//li.nav-item
					//	a.nav-link(href="/theory/statistics") Probability and statistics
					//li.nav-item
					//	a.nav-link(href="/theory/physics") Physics
					//li.nav-item
					//	a.nav-link(href="/theory/ai") Artificial intelligence
					//li.nav-item
					//	a.nav-link(href="/theory/biology") Biology
					//li.nav-item
					//	a.nav-link(href="/theory/engineering") Engineering
					//li.nav-item
					//	a.nav-link(href="/theory/economics") Economics
					//li.nav-item
					//	a.nav-link(href="/theory/culture") Culture
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="/theory/", id=navbarDropdown, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Notes
						div.dropdown-menu(aria-labelledby="navbarDropdown")
							a.dropdown-item(href="/theory/maths") Maths
							a.dropdown-item(href="/theory/computer") Computer science
							a.dropdown-item(href="/theory/statistics") Probability and statistics
							//a.dropdown-item(href="/theory/physics") Physics
							a.dropdown-item(href="/theory/ai") Artificial intelligence
							//a.dropdown-item(href="/theory/biology") Biology
							//a.dropdown-item(href="/theory/engineering") Engineering
							a.dropdown-item(href="/theory/economics") Economics
							//a.dropdown-item(href="/theory/culture") Culture
					li.nav-item
						a.nav-link(href="/news/") Blog
				ul.navbar-nav.ml-auto
					li.nav-item
						a(href="https://github.com/adamdboult/") GitHub
					li.nav-item
						a(href="https://wwww.linkedin.com/in/adamdboult") LinkedIn
					a.nav-link.dropdown-toggle(href="/other/", id=navbarOther, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Projects
					div.dropdown-menu(aria-labelledby="navbarOther")
						a.dropdown-item(href="https://www.artificialeconomist.com") ArtificialEconomist.com
						a.dropdown-item(href="https://www.economoose.com") Economoose.com
						a.dropdown-item(href="https://www.yetipredict.com") YetiPredict.com
					//li.nav-item
					//	a.nav-link(href="https://www.economoose.com") Economoose.com
					//li.nav-item
					//	a.nav-link(href="https://www.yetipredict.com") YetiPredict.com
					//li.nav-item
					//	a.nav-link(href="https://www.artificialeconomist.com") ArtificialEconomist.com
					//li.nav-item
					//	a.nav-link(href="/about/") About
		block content

