extends templates/header.pug

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title Adam Boult
			p.lead This is Adam Boult's personal website
		.row
			.col-sm-6
				h3
					b Projects
				p
					a(href="https://www.artificialeconomist.com") ArtificialEconomist.com
					| . Ask an artificial economist any question.
				p
					a(href="https://www.economoose.com") Economoose.com
					| . Explore economic data.
				p
					a(href="https://www.yetipredict.com") YetiPredict.com
					| . Track your own predictions, privately or publicly, to check you are on track and are planning accurately.
			.col-sm-6
				h3
					b Notes
				block bigNotes

