extends templates/header.pug

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title Adam Boult
			p.lead This is Adam Boult's personal website
		.row
			.col-sm-6
				h3
					b Projects
				p
					a(href="https://www.artificialeconomist.com") ArtificialEconomist.com
					| . Ask an artificial economist any question.
				p
					a(href="https://www.economoose.com") Economoose.com
					| . Explore economic data.
				p
					a(href="https://www.yetipredict.com") YetiPredict.com
					| . Track your own predictions, privately or publicly, to check you are on track and are planning accurately.
			.col-sm-6
				h3
					b Notes
				p Mathematics
				ul
					li
						a(href="/theory/logic/") Logic, the natural numbers and computability
						|  
						a(href="/theory/logic.pdf") (pdf)
					li
						a(href="/theory/algebra/") Algebra
						|  
						a(href="/theory/algebra.pdf") (pdf)
					li
						a(href="/theory/analysis/") Mathematical analysis
						|  
						a(href="/theory/analysis.pdf") (pdf)
					li
						a(href="/theory/geometry/") Geometry
						|  
						a(href="/theory/geometry.pdf") (pdf)
				p Basics
				ul
					li
						a(href="/theory/physicsMechanics/") Classical mechanics
						|  
						a(href="/theory/physicsMechanics.pdf") (pdf)
					li
						a(href="/theory/computer/") Computer science and C
						|  
						a(href="/theory/computer.pdf") (pdf)
					li
						a(href="/theory/dataStructuresAlgorithms/") Data structures and algorithms, and Lisp
						|  
						a(href="/theory/dataStructuresAlgorithms.pdf") (pdf)
				p Statistics
				ul
					li
						a(href="/theory/probabilityUnivariate") Univariate probability and encryption
						|  
						a(href="/theory/probabilityUnivariate.pdf") (pdf)
					li
						a(href="/theory/probabilityMultivariate") Multivariate probability
						|  
						a(href="/theory/probabilityMultivariate.pdf") (pdf)
					li
						a(href="/theory/neuralNetworks") Neural networks
						|  
						a(href="/theory/neuralNetworks.pdf") (pdf)
					li
						a(href="/theory/applied") Computer vision
						|  
						a(href="/theory/applied.pdf") (pdf)
				p Time series
				ul
					li
						a(href="/theory/probabilityTimeSeriesUnivariate") Univariate time series
						|  
						a(href="/theory/probabilityTimeSeriesUnivariate.pdf") (pdf)
					li
						a(href="/theory/probabilityTimeSeriesMultivariate") Multivariate time series
						|  
						a(href="/theory/probabilityTimeSeriesMultivariate.pdf") (pdf)
					li
						a(href="/theory/appliedAudioText") Statistics for audio and text, and multi-modal models
						|  
						a(href="/theory/appliedAudioText.pdf") (pdf)
				p Science
				ul
					li
						a(href="/theory/physics/") Physics
						|  
						a(href="/theory/physics.pdf") (pdf)
					li
						a(href="/theory/biology/") Biology
						| 
						a(href="/theory/biology.pdf") (pdf)
					li
						a(href="/theory/engineering/") Engineering
						|  
						a(href="/theory/engineering.pdf") (pdf)
					li
						a(href="/theory/electronics/") Electronics
						|  
						a(href="/theory/electronics.pdf") (pdf)
				p More coding
				ul
					li
						a(href="/theory/engineeringComputer/") CPUs and the Von Neumann architecture
						|  
						a(href="/theory/engineeringComputer.pdf") (pdf)
					li
						a(href="/theory/unix/") GNU/Linux
						|  
						a(href="/theory/unix.pdf") (pdf)
					li
						a(href="/theory/networks/") Networks
						|  
						a(href="/theory/networks.pdf") (pdf)
					li
						a(href="/theory/databases/") Single-node databases
						|  
						a(href="/theory/databases.pdf") (pdf)
					li
						a(href="/theory/audio/") Audio
						|  
						a(href="/theory/audio.pdf") (pdf)
					li
						a(href="/theory/graphics/") 2D graphics
						|  
						a(href="/theory/graphics.pdf") (pdf)
					li
						a(href="/theory/graphics3D/") 3D graphics
						|  
						a(href="/theory/graphics3D.pdf") (pdf)
					li
						a(href="/theory/computerArchitecture/") Advanced computer architecture
						|  
						a(href="/theory/computerArchitecture.pdf") (pdf)
					li
						a(href="/theory/VMEmulation/") System virtual machines and hardware emulation
						|  
						a(href="/theory/VMEmulation.pdf") (pdf)
				p Other compiled languages
				ul
					li
						a(href="/theory/cpp/") C++ and objects
						|  
						a(href="/theory/cpp.pdf") (pdf)
					li
						a(href="/theory/java/") Java, garbage collection, process virtual machines and Kotlin
						|  
						a(href="/theory/java.pdf") (pdf)
					li
						a(href="/theory/otherCLanguages/") Other C-family languages: Rust, Go, Objective-C and Swift
						|  
						a(href="/theory/otherCLanguages.pdf") (pdf)
					li
						a(href="/theory/otherLispLanguages/") Other Lisp-family languages: Scheme, Racket, Common Lisp, Clojure and Scala
						|  
						a(href="/theory/otherLispLanguages.pdf") (pdf)
					li
						a(href="/theory/otherCompiledLanguages/") Functional languages: Meta Language (ML) and Haskell
						|  
						a(href="/theory/otherCompiledLanguages.pdf") (pdf)
				p Interpreted languages
				ul
					li
						a(href="/theory/javascript/") Javascript
						|  
						a(href="/theory/javascript.pdf") (pdf)
					li
						a(href="/theory/python/") Python
						|  
						a(href="/theory/python.pdf") (pdf)
					li
						a(href="/theory/R/") R
						|  
						a(href="/theory/R.pdf") (pdf)
					li
						a(href="/theory/otherLanguages/") Other languages: STATA, Lua and BASIC
						|  
						a(href="/theory/otherLanguages.pdf") (pdf)
				p Even more coding
				ul
					li
						a(href="/theory/linuxDistributions/") Specific Linux distributions
						|  
						a(href="/theory/linuxDistributions.pdf") (pdf)
					li
						a(href="/theory/BSD/") FreeBSD and OpenBSD
						|  
						a(href="/theory/BSD.pdf") (pdf)
					li
						a(href="/theory/nonGNU/") Non-GNU Linux including Busybox and Android
						|  
						a(href="/theory/nonGNU.pdf") (pdf)
					li
						a(href="/theory/windows/") Windows
						|  
						a(href="/theory/windows.pdf") (pdf)
					li
						a(href="/theory/apple/") Apple
						|  
						a(href="/theory/apple.pdf") (pdf)
					li
						a(href="/theory/distributedComputing/") Distributed computing
						|  
						a(href="/theory/distributedComputing.pdf") (pdf)
					li
						a(href="/theory/IDEs/") Integrated Development Environments (IDEs)
						|  
						a(href="/theory/IDEs.pdf") (pdf)
					li
						a(href="/theory/reverseEngineering/") Reverse engineering
						|  
						a(href="/theory/reverseEngineering.pdf") (pdf)
				ul
				p Economics
				ul
					li
						a(href="/theory/ai/") Decision and game theory
						|  
						a(href="/theory/ai.pdf") (pdf)
					li
						a(href="/theory/equilibrium/") General equilibrium
						|  
						a(href="/theory/equilibrium.pdf") (pdf)
					li
						a(href="/theory/IO/") Industrial organisation
						|  
						a(href="/theory/IO.pdf") (pdf)
					li
						a(href="/theory/MBF/") Money, banking and finance
						|  
						a(href="/theory/MBF.pdf") (pdf)
					li
						a(href="/theory/economics/") Microeconomics
						|  
						a(href="/theory/economics.pdf") (pdf)
					li
						a(href="/theory/macroeconomics/") Macroeconomics
						|  
						a(href="/theory/macroeconomics.pdf") (pdf)
					li
						a(href="/theory/publicChoice/") Public choice
						|  
						a(href="/theory/publicChoice.pdf") (pdf)
					li
						a(href="/theory/history/") History
						|  
						a(href="/theory/history.pdf") (pdf)
					li
						a(href="/theory/epistemologyOntology/") Epistemology and ontology
						|  
						a(href="/theory/epistemologyOntology.pdf") (pdf)
					li
						a(href="/theory/philosophy/") Political science and philosophy
						|  
						a(href="/theory/philosophy.pdf") (pdf)

