extends templates/header.pug

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title Adam Boult
			p.lead This is Adam Boult's personal website
		.row
			.col-sm-6
				h3
					b Projects
				p
					a(href="https://www.artificialeconomist.com") ArtificialEconomist.com
					| . Ask an artificial economist any question.
				p
					a(href="https://www.economoose.com") Economoose.com
					| . Explore economic data.
				p
					a(href="https://www.yetipredict.com") YetiPredict.com
					| . Track your own predictions, privately or publicly, to check you are on track and are planning accurately.
			.col-sm-6
				h3
					b Notes
				p Mathematics
				ul
					li
						a(href="/theory/logic/") Logic, the natural numbers and computability
						|  
						a(href="/theory/logic.pdf") (pdf)
					li
						a(href="/theory/algebra/") Algebra
						|  
						a(href="/theory/algebra.pdf") (pdf)
					li
						a(href="/theory/analysis/") Mathematical analysis
						|  
						a(href="/theory/analysis.pdf") (pdf)
					li
						a(href="/theory/geometry/") Geometry
						|  
						a(href="/theory/geometry.pdf") (pdf)
					li
						a(href="/theory/computer/") Computer science, C and Lisp
						|  
						a(href="/theory/computer.pdf") (pdf)
				p Statistics
				ul
					li
						a(href="/theory/probability") Probability
						|  
						a(href="/theory/probability.pdf") (pdf)
					li
						a(href="/theory/statistics") Statistics
						|  
						a(href="/theory/statistics.pdf") (pdf)
					li
						a(href="/theory/neuralNetworks") Neural networks
						|  
						a(href="/theory/neuralNetworks.pdf") (pdf)
				p Science
				ul
					li
						a(href="/theory/physics/") Physics
						|  
						a(href="/theory/physics.pdf") (pdf)
					//li
					//	a(href="/theory/biology/") Biology
					//	| 
					//	a(href="/theory/biology.pdf") (pdf)
					//li
					//	a(href="/theory/engineering/") Engineering
					//	|  
					//	a(href="/theory/engineering.pdf") (pdf)
					//li
					//	a(href="/theory/engineeringComputer/") Computer hardware
					//	|  
					//	a(href="/theory/engineeringComputer.pdf") (pdf)
					li
						a(href="/theory/applied") Statistics for specific domains
						|  
						a(href="/theory/applied.pdf") (pdf)
				p More coding
				ul
					li
						a(href="/theory/unix/") Unix
						|  
						a(href="/theory/unix.pdf") (pdf)
					li
						a(href="/theory/networks/") Networks
						|  
						a(href="/theory/networks.pdf") (pdf)
					li
						a(href="/theory/graphics/") Graphics
						|  
						a(href="/theory/graphics.pdf") (pdf)
					li
						a(href="/theory/cpp/") C++ and objects
						|  
						a(href="/theory/cpp.pdf") (pdf)
					//li
					//	a(href="/theory/Java/") Java, garbage collection and process virtual machines
					//	|  
					//	a(href="/theory/Java.pdf") (pdf)
					li
						a(href="/theory/javascript/") Javascript and dynamic typing
						|  
						a(href="/theory/javascript.pdf") (pdf)
					li
						a(href="/theory/python/") Python
						|  
						a(href="/theory/python.pdf") (pdf)
				p Even more coding
				ul
					//li
					//	a(href="/theory/VMEmulation/") System virtual machines and hardware emulation
					//	|  
					//	a(href="/theory/VMEmulation.pdf") (pdf)
					//li
					//	a(href="/theory/otherCLanguages/") Other C-family languages
					//	|  
					//	a(href="/theory/otherCLanguages.pdf") (pdf)
					//li
					//	a(href="/theory/otherLispLanguages/") Other Lisp-family languages
					//	|  
					//	a(href="/theory/otherLispLanguages.pdf") (pdf)
					//li
					//	a(href="/theory/otherCompiledLanguages/") Other compiled languages
					//	|  
					//	a(href="/theory/otherCompiledLanguages.pdf") (pdf)
					li
						a(href="/theory/R/") R
						|  
						a(href="/theory/R.pdf") (pdf)
					//li
					//	a(href="/theory/otherLanguages/") Other languages
					//	|  
					//	a(href="/theory/otherLanguages.pdf") (pdf)
					//li
					//	a(href="/theory/windows/") Windows
					//	|  
					//	a(href="/theory/windows.pdf") (pdf)
				ul
				p Economics
				ul
					li
						a(href="/theory/ai/") Decision and game theory
						|  
						a(href="/theory/ai.pdf") (pdf)
					li
						a(href="/theory/equilibrium/") General equilibrium
						|  
						a(href="/theory/equilibrium.pdf") (pdf)
					li
						a(href="/theory/economics/") Microeconomics
						|  
						a(href="/theory/economics.pdf") (pdf)
					li
						a(href="/theory/macroeconomics/") Macroeconomics
						|  
						a(href="/theory/macroeconomics.pdf") (pdf)
					//li
					//	a(href="/theory/publicChoice/") Public choice
					//	|  
					//	a(href="/theory/publicChoice.pdf") (pdf)
					//li
					//	a(href="/theory/history/") History
					//	|  
					//	a(href="/theory/history.pdf") (pdf)
					//li
					//	a(href="/theory/epistemologyOntology/") Epistemology and ontology
					//	|  
					//	a(href="/theory/epistemologyOntology.pdf") (pdf)
					//li
					//	a(href="/theory/philosophy/") Political science and philosophy
					//	|  
					//	a(href="/theory/philosophy.pdf") (pdf)

