extends ./templates/theoryTemplate.pug

block subSubContent
	br
	p
		a(href="/theory/logic/") Logic and the natural numbers
		|  
		a(href="/theory/logic.pdf") (pdf)
	br
	p
		a(href="/theory/algebra/") Algebra
		|  
		a(href="/theory/algebra.pdf") (pdf)
	br
	p
		a(href="/theory/analysis/") Mathematical analysis
		|  
		a(href="/theory/analysis.pdf") (pdf)
	br
	p
		a(href="/theory/geometry/") Geometry
		|  
		a(href="/theory/geometry.pdf") (pdf)
	br
	p
		a(href="/theory/computer") Computer science
		|  
		a(href="/theory/computer.pdf") (pdf)
	br
	p
		a(href="/theory/probability") Probability
		|  
		a(href="/theory/probability.pdf") (pdf)
	br
	p
		a(href="/theory/statistics") Statistics
		|  
		a(href="/theory/statistics.pdf") (pdf)
	br
	p
		a(href="/theory/physics") Physics
		|  
		a(href="/theory/physics.pdf") (pdf)
	br
	p
		a(href="/theory/ai") Decision and game theory
		|  
		a(href="/theory/ai.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/biology") Biology
	//	|  
	//	a(href="/theory/biology.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/engineering") Engineering
	//	|  
	//	a(href="/theory/engineering.pdf") (pdf)
	br
	p
		a(href="/theory/economics") Economics
		|  
		a(href="/theory/economics.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/culture") Culture
	//	|  
	//	a(href="/theory/culture.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/philosophy") Political science and philosophy
	//	|  
	//	a(href="/theory/philosophy.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/history") History
	//	|  
	//	a(href="/theory/history.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/organisations") Organisations
	//	|  
	//	a(href="/theory/organisations.pdf") (pdf)

