extends ./templates/theoryTemplate.pug

block subSubContent
	br
	p
		a(href="/theory/logic/") Logic and the natural numbers
		|  
		a(href="/theory/logic.pdf") (pdf)
	br
	p
		a(href="/theory/algebra/") Algebra
		|  
		a(href="/theory/algebra.pdf") (pdf)
	br
	p
		a(href="/theory/analysis/") Mathematical analysis
		|  
		a(href="/theory/analysis.pdf") (pdf)
	br
	p
		a(href="/theory/geometry/") Geometry
		|  
		a(href="/theory/geometry.pdf") (pdf)
	br
	p
		a(href="/theory/computer") Computer science, Lisp and C
		|  
		a(href="/theory/computer.pdf") (pdf)
	br
	p
		a(href="/theory/probability") Probability
		|  
		a(href="/theory/probability.pdf") (pdf)
	br
	p
		a(href="/theory/statistics") Statistics
		|  
		a(href="/theory/statistics.pdf") (pdf)
	br
	p
		a(href="/theory/physics") Physics
		|  
		a(href="/theory/physics.pdf") (pdf)
	br
	p
		a(href="/theory/programming") Other programming languages
		|  
		a(href="/theory/programming.pdf") (pdf)
	br
	p
		a(href="/theory/ai") Decision and game theory
		|  
		a(href="/theory/ai.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/biology") Biology
	//	|  
	//	a(href="/theory/biology.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/engineering") Engineering
	//	|  
	//	a(href="/theory/engineering.pdf") (pdf)
	br
	p
		a(href="/theory/equilibrium") General equilibrium
		|  
		a(href="/theory/equilibrium.pdf") (pdf)
	br
	p
		a(href="/theory/economics") Microeconomics
		|  
		a(href="/theory/economics.pdf") (pdf)
	br
	p
		a(href="/theory/macroeconomics") Macroeconomics
		|  
		a(href="/theory/macroeconomics.pdf") (pdf)
	br
	//p
	//	a(href="/theory/publicChoice") Public choice
	//	|  
	//	a(href="/theory/publicChoice.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/history") History
	//	|  
	//	a(href="/theory/history.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/epistemologyOntology") Epistemology and ontology
	//	|  
	//	a(href="/theory/epistemologyOntology.pdf") (pdf)
	//br
	//p
	//	a(href="/theory/philosophy") Political science and philosophy
	//	|  
	//	a(href="/theory/philosophy.pdf") (pdf)

