extends templates/loginHeader.jade

block content
	.container.fill
		br
		.jumbotron
			h1.bs-docs-featurette-title Adam Boult
			p.lead This is Adam Boult's personal website
		.row
			.col-sm-4
				h3
					b Projects
				p
					a(href="https://www.artificialeconomist.com") ArtificialEconomist.com
					| . Ask an artificial economist any question.
				p
					a(href="https://www.economoose.com") Economoose.com
					| . Explore economic data.
				p
					a(href="https://www.yetipredict.com") YetiPredict.com
					| . Track your own predictions, privately, to check you are on track, and are planning accurately.
			.col-sm-4
				//a(href="/theory")
				//	h3 Notes
				h3
					b Notes
				p My notes on stuff.
				ul
					li
						a(href="/theory/maths/") Maths
						|  
						a(href="/theory/maths.pdf") (pdf)
					li
						a(href="/theory/computer/") Computer science
						|  
						a(href="/theory/computer.pdf") (pdf)
					li
						a(href="/theory/statistics") Probability and statistics
						|  
						a(href="/theory/statistics.pdf") (pdf)
					//li
					//	a(href="/theory/physics/") Physics
					//	|  
					//	a(href="/theory/physics.pdf") (pdf)
					li
						a(href="/theory/ai/") Artificial intelligence
						|  
						a(href="/theory/ai.pdf") (pdf)
					//li
					//	a(href="/theory/biology/") Biology
					//	| 
					//	a(href="/theory/biology.pdf") (pdf)
					//li
					//	a(href="/theory/engineering/") Engineering
					//	|  
					//	a(href="/theory/engineering.pdf") (pdf)
					li
						a(href="/theory/economics/") Economics
						|  
						a(href="/theory/economics.pdf") (pdf)
					//li
					//	a(href="/theory/culture/") Culture
					//	|  
					//	a(href="/theory/culture.pdf") (pdf)
			.col-sm-4
				//a(href="https://www.economoose.com")
				//	h3 Economoose
				//p Explore economic data.
				a(href="/news/")
					h3 Blog
				p My blog.
		//footer
		//	h3 Contact
		//	p.version Created by Adam Boult
		//	a(href="https://github.com/adamdboult/") GitHub
		//	br
		//	a(href="https://wwww.linkedin.com/in/adamdboult") LinkedIn

