div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/algebra") Algebra
	p
		a(href="/theory/algebra.pdf") Download PDF
	h3
		b Elementary number theory
	p
		a(href="/theory/algebra/integers") The integers
	p
		a(href="/theory/algebra/rational") The rational numbers
	p
		a(href="/theory/algebra/numbersAlgebraic") Algebraic numbers
	p
		a(href="/theory/algebra/complex") Complex numbers
	p
		a(href="/theory/algebra/sequencesInfinite") Infinite sequences and limits
	h3
		b Elementary algebra
	p
		a(href="/theory/algebra/polynomials") Solving single-variable polynomials
	p
		a(href="/theory/algebra/polynomialsMulti") Solving multi-variable polynomials
	p
		a(href="/theory/algebra/generating") Generating functions
	p
		a(href="/theory/algebra/diophantine") Diophantine equations
	h3
		b Systems of linear equations
	p
		a(href="/theory/algebra/linearSystems") Solving systems of linear equations
	p
		a(href="/theory/algebra/linearSystemsOperations") Eigenvalues, Eigenvectors, decomposition and operations

