div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/analysis") Mathematical analysis
	p
		a(href="/theory/analysis.pdf") Download PDF
	h3
		b Univariate real analysis
	p
		a(href="/theory/analysis/orderingInfinite") Ordering of infinite sets
	p
		a(href="/theory/analysis/limitSequences") Limits of infinite sequences
	p
		a(href="/theory/analysis/propertiesFunctions") Properties of functions
	p
		a(href="/theory/analysis/propertiesFunctionsLimits") Limits and continuous functions
	p
		a(href="/theory/analysis/reals") Transcendental and real numbers
	p
		a(href="/theory/analysis/calculus") Univariate differentiation
	p
		a(href="/theory/analysis/e") Identifying and evaluating \(e\)
	p
		a(href="/theory/analysis/integration") Univariate integration
	p
		a(href="/theory/analysis/trigonometry") The sine and cosine functions, and identifying \(\pi\)
	p
		a(href="/theory/analysis/trigonometryPi") The tangent function, and evaluating \(\pi\)
	p
		a(href="/theory/analysis/trigonometryPolar") Polar coordinates
	p
		a(href="/theory/analysis/trigonometryOther") Other trigonometric functions
	p
		a(href="/theory/analysis/transformations") Taylor and Fourier analysis
	p
		a(href="/theory/analysis/importantFunctions") The gamma and beta functions
	p
		a(href="/theory/analysis/ODE") Ordinary Differential Equations (ODEs)
	p
		a(href="/theory/analysis/optimisationUni") Univariate optimisation
	h3
		b Multivariate real analysis
	p
		a(href="/theory/analysis/multiFunctions") Multivariate functions
	p
		a(href="/theory/analysis/multiScalar") Multivariate differentiation of scalar fields
	p
		a(href="/theory/analysis/multiScalarIntegration") Multivariate integration of scalar fields
	p
		a(href="/theory/analysis/multiCalculus") Multivariate differentiation of vector fields
	p
		a(href="/theory/analysis/multiCalculusIntegration") Multivariate integration of vector fields
	p
		a(href="/theory/analysis/differentialEquations") Partial Differential Equations (PDEs)
	p
		a(href="/theory/analysis/optimisationMulti") Multivariate optimisation
	h3
		b Complex analysis
	p
		a(href="/theory/analysis/complexAnalysis") Complex calculus
	p
		a(href="/theory/analysis/laplace") Laplace transforms
	p
		a(href="/theory/analysis/mandlebrot") The Mandlebrot set
	p
		a(href="/theory/analysis/riemann") Riemann surfaces

