div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/computer") Computer science
	p
		a(href="/theory/computer.pdf") Download PDF
	h3
		b Foundations
	p
		a(href="/theory/computer/logic") Combinational logic
	p
		a(href="/theory/computer/numbers") Representing and using integers
	p
		a(href="/theory/computer/numbersReal") Representing and using real numbers
	p
		a(href="/theory/computer/arithmetic") Finite-state machines and arithmetic
	p
		a(href="/theory/computer/automatons") Pushdown automatons and Turing machines
	p
		a(href="/theory/computer/machineCode") Machine code
	h3
		b Low-level programming
	p
		a(href="/theory/computer/assembly") Assembly
	p
		a(href="/theory/computer/highLevel") High-level programming lanaguges
	p
		a(href="/theory/computer/pointers") Pointers
	h3
		b Numerical methods for integers
	p
		a(href="/theory/computer/primes") Identifying primes
	p
		a(href="/theory/computer/factorise") Factorising natural numbers
	p
		a(href="/theory/computer/linearDiscrete") Discrete linear algebra
	h3
		b Algorithms
	p
		a(href="/theory/computer/algorithms") Algorithms
	p
		a(href="/theory/computer/complexity") Algorithmic complexity
	p
		a(href="/theory/computer/halting") The halting problem
	p
		a(href="/theory/computer/busyBeaver") Busy beaver
	h3
		b Numerical methods for real numbers
	p
		a(href="/theory/computer/piE") Calculating \(\pi\) and \(\e\)
	p
		a(href="/theory/computer/rootsSquare") Calculating square roots of numbers
	p
		a(href="/theory/computer/rootsLinear") Identifying roots of linear equations
	p
		a(href="/theory/computer/rootsNonLinear") Identifying roots of non-linear equations
	p
		a(href="/theory/computer/integration") Numerical integration
	p
		a(href="/theory/computer/trigonometric") Trigonometric functions
	p
		a(href="/theory/computer/convexHull") Calculating convex hulls
	p
		a(href="/theory/computer/numericalMethodsODE") Numerical methods for ODEs
	p
		a(href="/theory/computer/numericalMethodsPDE") Numerical methods for PDEs
	p
		a(href="/theory/computer/linear") Linear algebra
	p
		a(href="/theory/computer/compression") Lossless compression
	p
		a(href="/theory/computer/mandelbrot") Constructing the Mandelbrot set
	p
		a(href="/theory/computer/ellipticCurves") Solving elliptic-curves
	h3
		b Unconstrained optimisation
	p
		a(href="/theory/computer/optimisationGradientDescent") Optimising smooth functions with gradient descent
	p
		a(href="/theory/computer/optimisationGradientDescentExtensions") Extensions to gradient descent
	p
		a(href="/theory/computer/optimisationDiscrete") Unconstrained optimisation of discrete functions
	p
		a(href="/theory/computer/optimisationNonDifferentiable") Unconstrained optimisation of non-differentiable real functions
	h3
		b Constrained optimisation
	p
		a(href="/theory/computer/constrained") Constrained optimisation
	h3
		b Lists
	p
		a(href="/theory/computer/lists") Lists
	p
		a(href="/theory/computer/queues") Queues
	p
		a(href="/theory/computer/strings") Characters and strings
	p
		a(href="/theory/computer/sorting") Sorting and searching lists
	h3
		b Data structures
	p
		a(href="/theory/computer/objects") Objects
	p
		a(href="/theory/computer/databases") Databases
	h3
		b High-level programming
	p
		a(href="/theory/computer/functional") Imperative and functional programming
	p
		a(href="/theory/computer/OOP") Object-Oriented Programming
	h3
		b Algorithmic paradigms
	p
		a(href="/theory/computer/dynamic") Dynamic programming and the Bellman equations
	p
		a(href="/theory/computer/parallel") Parallel processing
	p
		a(href="/theory/computer/divideConquer") Divide and conquer algorithms
	p
		a(href="/theory/computer/greedy") Greedy algorithms
	h3
		b Trees
	p
		a(href="/theory/computer/nodes") Tree search
	p
		a(href="/theory/computer/treeHeuristic") Tree search with heuristics
	p
		a(href="/theory/computer/CSP") Constraint Satisfaction Problem (CSP)
	h3
		b Improving knowledge
	p
		a(href="/theory/computer/knowledge") Knowledge bases
	p
		a(href="/theory/computer/expert") Expert systems
	h3
		b Applications
	p
		a(href="/theory/computer/emulation") Emulation
	p
		a(href="/theory/computer/image") Image manipulation
	p
		a(href="/theory/computer/3D") 3D modelling

