div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/economics") Economics
	p
		a(href="/theory/economics.pdf") Download PDF
	h3
		b Exchange economies
	p
		a(href="/theory/economics/institutions") Institutions
	p
		a(href="/theory/economics/edgeworth") Edgeworth boxes
	p
		a(href="/theory/economics/auctions") Auction theory
	p
		a(href="/theory/economics/auctionsComplex") Advanced auction theory
	p
		a(href="/theory/economics/commodities") Commodity markets
	p
		a(href="/theory/economics/money") Money
	p
		a(href="/theory/economics/consumer") Consumer choice in one period
	p
		a(href="/theory/economics/consumerUncertainty") Consumer choice under uncertainty
	p
		a(href="/theory/economics/consumerDiscrete") Discrete choice
	h3
		b Intertemporal consumer theory
	p
		a(href="/theory/economics/saving") Saving, stockpiling and risk-free debt
	p
		a(href="/theory/economics/consumerIntertemporal") Intertemporal consumer choice
	p
		a(href="/theory/economics/contract") Contract theory
	h3
		b Producer theory
	p
		a(href="/theory/economics/intermediate") Production and intermediate goods
	p
		a(href="/theory/economics/producer") Pricing homogeneous goods
	p
		a(href="/theory/economics/robinsonCrusoe") The Robinson Crusoe model
	p
		a(href="/theory/economics/general") Basic general equilibrium
	p
		a(href="/theory/economics/tax") Taxes
	p
		a(href="/theory/economics/externality") Externalities
	p
		a(href="/theory/economics/publicGoods") Public goods
	p
		a(href="/theory/economics/welfare") Welfare economics
	h3
		b Industrial organisation
	p
		a(href="/theory/economics/diff") Pricing heterogeneous goods
	p
		a(href="/theory/economics/priceDiscrimination") Price discrimination
	p
		a(href="/theory/economics/IO") Industrial organisation
	p
		a(href="/theory/economics/renewalPricing") Pricing renewing customers
	p
		a(href="/theory/economics/competitionPolicy") Competition policy
	p
		a(href="/theory/economics/regulation") Regulation
	h3
		b Basic econometrics
	p
		a(href="/theory/economics/econometricsProduction") Econometrics of production
	p
		a(href="/theory/economics/econometricsAggregate") Econometrics using aggregate market data
	p
		a(href="/theory/economics/econometricsDiscrete") Discrete choice estimation using aggregate market data
	p
		a(href="/theory/economics/econometricsCustomerLevel") Discrete choice estimation using customer level data
	p
		a(href="/theory/economics/econometricsStated") Econometrics using stated preference
	h3
		b Finance
	p
		a(href="/theory/economics/savingRisky") Risky debt
	p
		a(href="/theory/economics/insurance") Insurance and pensions
	p
		a(href="/theory/economics/corporateFinance") Corporate finance
	p
		a(href="/theory/economics/securities") Derivative markets
	p
		a(href="/theory/economics/portfolios") Portfolios
	p
		a(href="/theory/economics/banking") Banking
	p
		a(href="/theory/economics/industryInstitution") Institutional services
	h3
		b Labour economics
	p
		a(href="/theory/economics/unemployment") Labour markets and unemployment
	p
		a(href="/theory/economics/education") Education
	h3
		b International economics
	p
		a(href="/theory/economics/international") International economics
	p
		a(href="/theory/economics/migration") Migration
	h3
		b Macroeconomics
	p
		a(href="/theory/economics/monetaryFiscal") Monetary and fiscal policy
	p
		a(href="/theory/economics/neoClassical") Neoclassical economics
	p
		a(href="/theory/economics/neoKeynesian") Neo-Keynesian economics and the neoclassical synthesis
	p
		a(href="/theory/economics/newClassical") New classical economics
	p
		a(href="/theory/economics/newKeynesian") New Keynesian economics and the new neoclassical synthesis

