extends ../templates/loginHeader.pug
block content
	div.container-fluid
		div.row
			//nav.col-md-2.d-none.d-md-block.bg-light.sidebar
			nav.col-md-2.bg-light.sidebar
				div.sidebar-sticky
					br
					include ./history_sidebar.pug
			//main.col-md-9.ml-sm-auto.col-lg-10.px-4(role="main")
			.col-md-10
				br
				p Please select a chapter from the left.
				include ./history/preface.html

