div
	h2(style="text-decoration:none;")
		b 
			a(href="/theory/probability") Probability
	p
		a(href="/theory/probability.pdf") Download PDF
	h3
		b Probability
	p
		a(href="/theory/probability/probabilityAxioms") Events, the probability function and the Kolgomorov axioms
	p
		a(href="/theory/probability/probabilityBayes") Conditional probability and Bayes' theorem
	p
		a(href="/theory/probability/entropy") Entropy
	h3
		b Variables
	p
		a(href="/theory/probability/probabilityVariables") Variables
	p
		a(href="/theory/probability/probabilityMoments") Expected value, conditional expectation and Jensen's inequality
	p
		a(href="/theory/probability/probabilityMomentsVariance") Variance and covariance
	p
		a(href="/theory/probability/probabilityMomentsHigher") Higher moments
	p
		a(href="/theory/probability/probabilityMomentsMarkov") Markov's inequality and Chebyshev's inequality
	p
		a(href="/theory/probability/probabilityMomentsCharacteristic") Characteristic functions
	h3
		b Simple probability distributions
	p
		a(href="/theory/probability/distributions") Single observation discrete distributions
	p
		a(href="/theory/probability/distributionsContinous") Simple continous distributions
	h3
		b Statistics
	p
		a(href="/theory/probability/iid") Independent and identically distributed variables
	p
		a(href="/theory/probability/iidWLLN") The weak law of large numbers
	p
		a(href="/theory/probability/iidLevy") Levy's continuity theorem
	p
		a(href="/theory/probability/iidCLT") The central limit theorem and the gaussian/normal distribution
	p
		a(href="/theory/probability/stats") Statistics
	p
		a(href="/theory/probability/orderStatistics") Order statistics
	h3
		b More probability distributions
	p
		a(href="/theory/probability/distributionsDiscreteRepeated") Repeated observations discrete distributions
	p
		a(href="/theory/probability/distributionsExtreme") Extreme value distributions
	p
		a(href="/theory/probability/distributionsMixture") Mixture distributions
	h3
		b Stochastic processes
	p
		a(href="/theory/probability/stochastic") Stochastic processes and their moments
	p
		a(href="/theory/probability/stochasticStationary") White noise, and weak- and wide-sense stationarity
	p
		a(href="/theory/probability/randomWalk") Random walks
	p
		a(href="/theory/probability/martingale") Martingale processes
	p
		a(href="/theory/probability/stochasticMarkov") Markov processes
	p
		a(href="/theory/probability/stochasticMulti") Multivariate time series
	p
		a(href="/theory/probability/bayesianNetworks") Bayesian networks
	p
		a(href="/theory/probability/survivalFunctions") Survival functions
	h3
		b Discrete-time stochastic processes
	p
		a(href="/theory/probability/stochasticOrderIntegration") Orders of integration
	p
		a(href="/theory/probability/stochasticWold") Auto-Regressive processes, Moving-Average processes and Wold's theorem
	p
		a(href="/theory/probability/stochasticMultiple") Vector Autoregression (VAR)
	p
		a(href="/theory/probability/ARMAX") ARMAX
	p
		a(href="/theory/probability/PAM") Partial Adjustment Model (PAM)
	p
		a(href="/theory/probability/ECM") Error Correction Model
	h3
		b Continuous-time stochastic processes
	p
		a(href="/theory/probability/brownian") Wiener processes and Brownian motion
	p
		a(href="/theory/probability/SDEs") Stochastic differential equations
	h3
		b Sampling
	p
		a(href="/theory/probability/sampling") Rejection sampling
	p
		a(href="/theory/probability/samplingMCMC") Markov chain Monte Carlo sampling
	p
		a(href="/theory/probability/samplingProcess") Sampling from processes
	h3
		b Stochastic methods
	p
		a(href="/theory/probability/pseudoRandom") Creating pseudo-random numbers
	p
		a(href="/theory/probability/integration") Stochastic methods for integration
	p
		a(href="/theory/probability/optimisation") Stochastic optimisation
	p
		a(href="/theory/probability/calculusStochastic") Calculus of stochastic processes
	p
		a(href="/theory/probability/compression") Lossy compression

